@import "~common/scss/variable.scss";

.news-list {
  width: 100%;
  height: 100%;
  .single-news-wrapper {
   padding: 10px 0;
   border-bottom: solid 1px $color-text-g;
  } 
}

.empty-news-list {
  text-align: center;
  padding-top: 20px;
  font-size: $font-size-l;
  color: $color-text;
}