@import "~common/scss/variable.scss";
@import "~common/scss/mixin.scss";

.info-card {
  height: 100%;
  width: 100%;
  .title-wrapper {
    height: 85px;
    width: 100%;
    border-bottom: solid $color-text-g 1px;
    display: flex;
    justify-content: space-between;
    .base-info {
      flex: 1 1 auto;
      height: 65px;
      text-align: left;
      .name {
        color: $color-text;
        font-size: $font-size-xxl;
        @include no-wrap();
      }
      .gender-icon {
        margin-left: 10px;
      }
      .slogan {
        text-align: left;
        color: $color-text-m;
        font-size: $font-size-l;
        margin-top: 10px;
        @include no-wrap();
      }
    }
    .avatar-wrapper {
      height: 65px;
      width: 65px;
      background-size: cover;
      border-radius: 5px;
    }
  }
  .info-wrapper {
    margin-top: 20px;
    margin-bottom: 80px;
    text-align: left;
    @include no-wrap();
    li {
      padding: 10px 0;
      span:first-child {
        display: inline-block;
        width: 50px;
        text-align: justify;
        color: $color-text-m;
      }
      span:last-child {
        margin-left: 30px;
        text-align: left;
        color: $color-text;
      }
    }
  }
  .attach-msg {
    border-top: solid $color-text-g 1px;
    padding-top: 30px;
    text-align: left;
    span:first-child {
      display: inline-block;
      width: 50px;
      text-align: justify;
      color: $color-text-m;
    }
    span:last-child {
      margin-left: 30px;
      text-align: left;
      color: $color-text;
    }
    margin-bottom: 80px;
  }
  .button-wrapper {
    display: flex;
    justify-content: space-around;
    &.hide {
      display: none;
    }
    p {
      width: 120px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 5px;
      color: white;
    }
    .chat-button {
      margin-left: 0px;
      background-color: rgba(4, 177, 119, 0.7);
    }
    .delete-button {
      margin-right: 0px;
      background-color: rgba(199, 3, 35, 0.7);
    }
    .confirm-button {
      background-color: rgba(4, 177, 119, 0.7);
    }
  }
}