//  颜色规范定义
$color-nav-bar: rgba(3, 8, 17, 0.7);
$color-nav-avatar: rgb(44, 62, 80);
$color-nav-icon: rgba(255, 255, 255, 0.5);
$color-nav-icon-active: rgba(11, 218, 97, 0.9);
$color-news-default-avatar: rgba(255, 255, 255, 0.5);
$color-background: rgb(233, 233, 233);
$color-background-m: rgb(250, 250, 250);
$color-text: rgb(50, 50, 50);
$color-text-s: rgb(100, 100, 100);
$color-text-g: rgb(233, 233, 233);
$color-text-m: rgb(155, 155, 155);

$font-size: 24px;
$font-size-s: 8px;
$font-size-m: 12px;
$font-size-l: 16px;
$font-size-xl: 20px;
$font-size-xxl: 24px;